.finddoctor {text-align:center; padding:40px 0px 15px;}
.finddoctor-title {font-size:2rem; font-weight:600; margin:0 0 20px; color:#222;}
.doctor-image {margin-bottom:20px;}
.doctor-image img {max-height:25em;}
.home-search-container {display:flex; justify-content:center; align-items:center; position:relative; padding:20px 0;}
.doctor-search-box {display:flex; align-items:center; width:430px; position:relative; box-shadow:rgba(0, 0, 0, 0.1) 0 -1px 0 0 inset; border-radius:5px; background-color:#fff;}
.search-doctor-input-box {height:40px; width:100%; padding:6px 10px; border:1px solid #3b3a3a; border-top-left-radius:5px; border-bottom-left-radius:5px; outline:none; font-size:14px;}
.findiconimg {width:40px; height:40px; background-color:#efefef; border:1px solid #3b3a3a; border-left:none; display:flex; justify-content:center; align-items:center; border-top-right-radius:5px; border-bottom-right-radius:5px; cursor:pointer;}
.findicon {color:#333; font-size:1.1rem;}
.search-doctor-input-results {position:absolute; top:45px; left:0; width:100%; z-index:5; background-color:#fff; border:1px solid #555; border-top:none; max-height:400px; overflow-y:auto;}
.search-doctor-result-item {height:55px; display:flex; align-items:center; background-color:#fff; border-bottom:1px solid #e0e0e0; padding:10px 12px; column-gap:14px; cursor:pointer; text-align:left; transition:background 0.2s ease-in-out;}
.search-doctor-result-item:hover {background-color:#f0f0f5;}
.result-icon {border:1px solid #f0f0f5; border-radius:50%; padding:6px; background-color:#f0f0f5; display:flex; align-items:center; justify-content:center;}
.result-name {font-size:14px; color:#414146;}
.result-type {font-size:11px; color:#787887; text-transform:uppercase; margin-left:auto;}