
.appointment-form {max-width:400px; margin:0 auto 20px; padding:20px; background-color:#f5f5f5; border-radius:8px; border: 1px solid #ccc; }

.appointment-form h3 { text-align: center; margin-bottom: 15px; }

.appointment-form .form-group {
  margin-bottom: 10px;
}

.appointment-form label {
  display: block;
  font-weight: 700;
}

.error-text {
  color: red;
  font-size: 0.9rem;
}
